<ion-header>
  <ion-navbar color="header">
    <ion-title >Dashboard</ion-title>
  </ion-navbar>
  <ion-searchbar>
    [(ngModel)]="myInput"
    [showCancelButton]="shouldShowCancel"
    (ionInput)="onInput($event)"
    (ionCancel)="onCancel($event)">
  </ion-searchbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!--<ion-scroll scrollY="true" style="height:100vh;">-->
    <!--<ion-grid padding>
      <ion-row>
    <ion-col col-6>
      <div class="image-div" style="background-image: url(https://images.unsplash.com/photo-1509089629531-23ea3dfec72e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=dbbbe31b95dedb1c61b2d53284704ef9&auto=format&fit=crop&w=2850&q=80);" (click)="presentContactModal( 'Alcachofa' )">
        <p>Alcachofa</p>
      </div>
    </ion-col>
    <ion-col col-6>
      <div  class="image-div" style="background-image: url(https://images.unsplash.com/photo-1521727747887-11e4fb3e523c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e3fa84affac572e661b95c6cfe0c6bf2&auto=format&fit=crop&w=1352&q=80);" (click)="presentContactModal( 'Baños' )">
        <p>Baños</p>
      </div>
    </ion-col>
  </ion-row>
    <ion-row>
      <ion-col col-6>
        <div class="image-div" style="background-image: url(https://images.unsplash.com/photo-1510894347713-fc3ed6fdf539?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=88f76505743ef2ed04101148ba74269e&auto=format&fit=crop&w=2850&q=80);" (click)="presentContactModal( 'Bienestar' )">
          <p>Bienestar</p>
        </div>
      </ion-col>
      <ion-col col-6>
        <div class="image-div" style="background-image: url(https://images.unsplash.com/photo-1534322989717-f57e38ba9120?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5bacabe8d1c88bfa90b369632e9caea0&auto=format&fit=crop&w=2095&q=80);" (click)="presentContactModal( 'Dieta' )">
          <p>Dieta</p>
        </div>
      </ion-col>
    </ion-row>
    <ion-list>asmndasdkasj</ion-list>
    </ion-grid>-->
<!--

    <ion-grid padding>
      <ion-col col-6 *ngFor="let challenge of dataChallengeList">
        &lt;!&ndash;<div class="image-div" style="background-image: url({{challenge.img}});" (click)="presentContactModal( challenge )">&ndash;&gt;
        <div class="image-div" (click)="presentContactModal( challenge )">
          &lt;!&ndash;<img src="{{challenge.img}}">&ndash;&gt;
          <p>{{challenge.title}}</p>
        </div>
      </ion-col>
    </ion-grid>
-->


    <ion-list>
      <ion-list-header>
        Challenges
      </ion-list-header>

      <a ion-item *ngFor="let challenge of dataChallengeList" (click)="presentContactModal( challenge )">
        <div>
          <div class="image-div" [ngStyle]="{'background-image':'url(' + challenge.img + ')'}">
            <p>{{challenge.title}}</p>
          </div>
          <!-- <ion-img class="image-div" src="{{challenge.img}}"></ion-img> -->
        </div>

        <!--<div class="image-div" style="background-image: url(https://images.unsplash.com/photo-1534322989717-f57e38ba9120?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5bacabe8d1c88bfa90b369632e9caea0&auto=format&fit=crop&w=2095&q=80);" (click)="presentContactModal( 'Dieta' )">-->
        <!--<div class="image-div" style="background-image: url({{challenge.img}});" (click)="presentContactModal( 'Dieta' )">
          <p>{{challenge.title}}</p>
        </div>-->
      </a>
    </ion-list>

  <!--</ion-scroll>-->

</ion-content>
