page-about {

}
.user-img{
  height: 150px;
  width: auto;
  border-radius: 50%;
}
.progress-bar{
  height: 20px;
  width: 60%;
  background-color: #8c8c8c;
  display: flex;
}
.progress{
  width: 30%;
  background-color: red;
}
.ion-icon{
  height: 40px;
}
