page-challenge-description {
  .image-div {
    height: 140px;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
  }

  .content {
    padding: 16px;
  }

  #titleH {
    font-size: 2.3rem;
    color: black;
    font-weight: 600;
    z-index: 100;
    position: absolute;
    top: 16px;
    margin: 0;
    right: 16px;
    color: white;
  }

  #titleF {
    font-size: 1.7rem;
    color: black;
    font-weight: 400;
    z-index: 100;
    position: absolute;
    bottom: 16px;
    margin: 0;
    right: 16px;
    color: white;
  }

  .circle-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 16px;
  }

  .img-unloaded {
    width: 100%;
    min-height: 200px;
    position: relative;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 80%;
      display: block;
    }
  }

  .circle-div {
    flex-shrink: 0;
    background-color: #94d1d9;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 1.8rem;
    margin-bottom: 4px;
    color: white;
  }
  button,
  .button-round-ios {
    width: 100%;
    background-color: #94d1d9;
  }
}
